body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.p-left {
	text-align: left;
}

.App-header,
.nav-search {
	background-color: #1B1378;
	height: 75px;
}

.nav-search {
	width: 410px;
}

.search-hide {
	position: absolute;
	top: 0;
	left: calc(100% + 5px);
	z-index: 5;
}

.search-display {
	position: absolute;
	top: 0;
	left: calc(100%  - 415px);
	z-index: 5;
}

h2 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.navbar-brand {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2em;
  padding-top: 10px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

div.navbar-collapse.collapse {
  background-color: #fff;
  text-align: center;
}

div.navbar-collapse.collapse.in {
  margin-top: 3px;
}

a.nav-a:link,
a.nav-a:active,
a.nav-a:hover,
a.nav-a:visited,
a.a-fave:link,
a.a-fave:active,
a.a-fave:hover,
a.a-fave:visited {
	color: #1B1378;
	text-decoration: none;
}

a.nav-a:link,
a.nav-a:active,
a.nav-a:hover,
a.nav-a:visited {
	font-size: 1.25em;
}

/* form */

label {
	margin-right: 8px;
}

.div-question {
	margin-bottom: 8px;
}

input {
	padding-left: 15px;
	border-radius: 5px;
	border: solid 1px #666;
}

.button {
	margin: 0 3px 12px 3px;
}

button.btn-default {
	border-color: #666;
}

.center {
	text-align: center;
}

.fa {
	padding-left: 8px;
}

.fa-search,
.fa-times {
	color: #fff;
}

i.fa-times {
	display: inline;
}

#input-search {
	display: inline-block;
	margin-top: 13px;
	background-color: #1B1378;
}

.fa-times {
	/*padding-top: 28px;*/
}

.fa-times {
	text-align: right;
	padding-left: 20px;
}

.input-search {
	float: left;
}

input#input-search:focus{
    outline: none;
}

input#input-search {
    font-size: 24px;
    padding: 10px;
    border: none;

    color: #fff;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}

input#input-search::-webkit-input-placeholder {
    color: #fff;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.search-results {
	padding-top: 12px;
	padding-left: 10px;
}

.ul-no-style {
	list-style: none;
	padding-left: 0;
}

@media (min-width: 768px) {
	div.navbar-collapse.collapse {
	  text-align: left;
		background-color: #1B1378;
	}

	a.nav-a:link,
	a.nav-a:active,
	a.nav-a:hover,
	a.nav-a:visited {
		color: #fff;
	}

}
