body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.p-left {
	text-align: left;
}

/* form */

label {
	margin-right: 8px;
}

.div-question {
	margin-bottom: 8px;
}

input {
	padding-left: 15px;
	border-radius: 5px;
	border: solid 1px #666;
}

.button {
	margin: 0 3px;
}

button.btn-default {
	border-color: #666;
}

.center {
	text-align: center;
}